/* Tiptap ProseMirror editor styles */
.ProseMirror:focus {
  outline: none;
  box-shadow: none;
}

.ProseMirror p.is-editor-empty:first-child::before,
.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: var(--neutral-400);
  pointer-events: none;
  height: 0;
}

.ProseMirror td p.is-empty::before,
.ProseMirror th p.is-empty::before {
  content: none;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* Table-specific styling */
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
    border-radius: 0.25rem;

    td,
    th {
      border: 1px solid var(--neutral-300);
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: var(--primary-200);
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: color-mix(in srgb, var(--primary-200) 32%, transparent);
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: var(--purple);
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}
