name: licenses
on:
  push:
#   pull_request:
#     branches: [main]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.15.0
          cache: pnpm

      - name: Install dependencies
        run: |
          pnpm install
          pnpm --filter="@repo/shared" run build
          pnpm --filter="@repo/prompts" run build
          pnpm build --filter=api
          pnpm build --filter=web

      - name: Install license
        run: pnpm install -g license-checker-rseidelsohn

      - name: LICENSES root
        run: license-checker-rseidelsohn --onlyAllow 'MIT;UNLICENSED;BSD-2-Clause;BSD-3-Clause;Apache-2.0;ISC;UNKNOWN;Unlicense;Apache;'

      - name: LICENSES api
        run: |
          cd apps/api/
          license-checker-rseidelsohn --onlyAllow 'MIT;UNLICENSED;BSD-2-Clause;BSD-3-Clause;Apache-2.0;ISC;UNKNOWN;Unlicense;Apache;'

      - name: LICENSES web
        run: |
          cd apps/web/
          license-checker-rseidelsohn --onlyAllow 'MIT;UNLICENSED;BSD-2-Clause;BSD-3-Clause;Apache-2.0;ISC;UNKNOWN;Unlicense;Apache;'
