on:
  pull_request:
    types: [labeled]
  workflow_call:
  workflow_dispatch:

jobs:
  e2e:
    if: ${{ (github.event_name == 'pull_request' && github.event.label != null && github.event.label.name == 'run E2E tests :gear:') || github.event_name == 'workflow_call' || github.event_name == 'workflow_dispatch' }}
    uses: ./.github/workflows/e2e.yml
    with: {}
    secrets:
      STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
      STRIPE_PUBLISHABLE_KEY: ${{ secrets.STRIPE_PUBLISHABLE_KEY }}
      STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET }}
      MASTER_KEY: ${{ secrets.MASTER_KEY }}
